<div class="panel-body">
  <h3 class="angular-with-newlines" data-ng-bind-html="trustAsHtml(question.question)"><strong>{{question.question}}</strong></h3>
  <div class="answers col-lg-4 col-lg-offset-4">
    <button class="btn btn-lg btn-default angular-with-newlines"
      data-ng-class="{ 'btn-primary': $index == question.selectedIndex }"
      data-ng-repeat="answer in question.answers"
      data-ng-click="select(answer, $index)"
      data-ng-bind-html="trustAsHtml(answer)">
      {{answer}}
    </button>

  </div>
</div>
