<div class="panel-body" data-ng-init="qu.initQuestion()">
  <h3>Question: </h3>
  <p class="angular-with-newlines" data-ng-bind-html="qu.trustAsHtml(question.question)">{{question.question}}</p>
  <h3>Answers: </h3>
  <button class="btn btn-lg btn-default angular-with-newlines"
    data-ng-class="{ 'btn-primary': $index == qu.question.selectedIndex }"
    data-ng-repeat="answer in qu.question.answers"
    data-ng-click="qu.select(answer, $index)"
    data-ng-bind-html="qu.trustAsHtml(answer)">
    {{answer}}
  </button>
</div>
