<main data-ng-init="studentTestCtrl.init()">
  <header class="panel-heading">

    <button class="btn btn-primary col-lg-4 col-lg-offset-8"
      data-ng-click="studentTestCtrl.goBackToTests()">Go Back To Tests</button>
    <uib-progress max="studentTestCtrl.test.maxQuestions"><uib-bar data-ng-repeat="question in studentTestCtrl.test.questions" value="1" type="{{question.type}}"><span style="color:white; white-space:no-wrap;">{{$index + 1}}</span></uib-bar></uib-progress>

  </header>
  <div class="panel-main">
    <h3>Directions: </h3>

    <p>{{studentTestCtrl.test.directions}}</p>
    <pc-question
      question="studentTestCtrl.activeQuestion"
      select-answer="studentTestCtrl.selectAnswer(answer)">
    </pc-question>
  </div>
  <footer class="panel-footer">
    <button
      class="btn btn-lg btn-primary"
      data-ng-if="nope"
      data-ng-click="studentTestCtrl.previousQuestion()">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Previous
    </button>
    <button class="btn btn-lg btn-primary pull-right"
      data-ng-disabled="studentTestCtrl.disabled"
      data-ng-click="studentTestCtrl.nextQuestion()">
      {{studentTestCtrl.nextText}}
      <span class="glyphicon glyphicon-chevron-right"
        data-ng-if="studentTestCtrl.urrent !== studentTestCtrl.test.maxQuestions"></span>
    </button>
  </footer>
</main>
