<main data-ng-init="init()">
  <header class="panel-heading">
    <h3 class="col-lg-6">Instructions: </h3>
    <button class="col-lg-4"
      data-ng-click="goBackToTests()">Go Back To Tests</button>
    <p>{{test.directions}}</p>
    <uib-progress max="test.maxQuestions"><uib-bar data-ng-repeat="question in test.questions" value="1" type="{{question.type}}"><span style="color:white; white-space:no-wrap;">{{$index + 1}}</span></uib-bar></uib-progress>

  </header>
  <pc-question
    data-question="question"
    data-select-answer="selectAnswer(answer)">
  </pc-question>
  <footer class="panel-footer">
    <button
      class="btn btn-lg btn-primary"
      data-ng-if="nope"
      data-ng-click="previousQuestion()">
      <span class="glyphicon glyphicon-chevron-left"></span> Previous
    </button>
    <button class="btn btn-lg btn-primary pull-right"
      data-ng-disabled="disabled"
      data-ng-click="nextQuestion()">
      {{nextText}} <span class="glyphicon glyphicon-chevron-right" data-ng-if="current !== test.maxQuestions"></span>
    </button>
  </footer>
</main>
