<aside>
  <div class="btn-group" uib-dropdown>
    <button type="button"
      class="pull-right btn btn-primary uib-dropdown-toggle"
      uib-dropdown-toggle
      data-ng-if="signedIn()">
      {{displayUsername()}}
      <span class="glyphicon glyphicon-user"></span>
    </button>
    <button type="button"
      class="btn btn-primary"
      data-ng-if="!signedIn()"
      data-ng-click="changeView('sign-in')">Sign In
      <span class="glyphicon glyphicon-user"></span>

    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a data-ng-click="changeView('dashboard')">Dashboard</a></li>
      <li><a data-ng-click="bugModal()">Report a bug</a></li>
      <li><a data-ng-click="logOut()">Sign Out</a></li>
    </ul>
  </div>
</aside>
