<form name="bugForm" data-ng-submit="submitBug(bugReport)">
  <header class="modal-header">
    <h2>Submit A Bug</h2>
  </header>
  <div class="modal-body">
    <div class="form-group">
      <label for="name" class="col-lg-2">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" placeholder="John Doe"
          required="true"
          id="name" name="name"
          data-ng-model="bugReport.userName">

      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-lg-2">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control col-lg-10" placeholder="john@example.com"
          id="email" name="email"
          data-ng-model="bugReport.email">

      </div>

    </div>

    <div class="form-group">
      <label for="attemptedAction">What were you trying to do?</label>
      <textarea id="attemptedAction" class="form-control"
        placeholder="Ex. I was trying to log-in..."
        name="attemptedAction"
        data-ng-model="bugReport.attemptedAction">

      </textarea>
    </div>

    <div class="form-group">
      <label for="reproducingSteps">
        What steps did you take to get here?
      </label>
      <textarea class="form-control"
        id="reproducingSteps" name="reproducingSteps"
        placeholder="Ex. 1) I clicked on sign-in button at top. 2) I entered my password and email. 3) I clicked submit."
        data-ng-model="bugReport.reproducingSteps">

      </textarea>
    </div>

    <div class="form-group">
      <label for="expectedOutcome">
        What did you expect to happen?
      </label>
      <textarea class="form-control"
        id="expectedOutcome" name="expectedOutcome"
        placeholder="Ex. I expected it to go to my home page, logged-in..."
        data-ng-model="bugReport.expectedOutcome">

      </textarea>
    </div>

    <div class="form-group">
      <label for="actualOutcome">
        What actually happened?
      </label>
      <textarea class="form-control"
        id="actualOutcome" name="actualOutcome"
        placeholder="Ex. It didn't do anything, I clicked submit a few more times and nothing happened..."
        data-ng-model="bugReport.actualOutcome">

      </textarea>
    </div>

    <div class="form-group">
      <label for="systemSpecs">Any information on your operating system or browser?</label>
      <textarea class="form-control"
        id="systemSpecs" name="systemSpecs"
        placeholder="Ex. I was using Internet Explorer and Windows operating system..."
        data-ng-model="bugReport.systemSpecs">

      </textarea>
    </div>
  </div>
  <footer class="modal-footer">
    <button class="btn btn-primary" type="submit">
      Submit
    </button>
    <button class="btn btn-danger" type="button"
      data-ng-click="dismiss()">
      Cancel
    </button>
  </footer>
</form>
