<header>
  <div class="row">
    <h1 class="col-md-6 col-lg-4">Prog Check</h1>
    <pc-account-tools class="col-md-6 col-lg-4 col-lg-offset-4"></pc-account-tools>
  </div>
  <nav class="navbar navbar-default">
    <tabset class="nav navbar-nav" type="pills" vertical="false" justified="true">
      <tab heading="Home" data-ng-click="changeView('home')"></tab>
      <tab heading="About Us" data-ng-click="changeView('about')"></tab>
      <tab heading="Pricing" data-ng-click="changeView('pricing')"></tab>
    </tabset>
  </nav>
</header>
