<section class="panel panel-primary">
  <header class="panel-heading">
    <h3 class="col-lg-9">{{test.testName}}</h3>
    <button class="btn btn-default col-lg-3"
      data-ng-click="goBack()">Go Back</button>
    <div class="clearfix"></div>
  </header>
  <section class="panel-body">
    <div class="alert alert-danger"
      data-ng-if="isDeleteShown">
      <p class="col-lg-8">Are you sure? Deleting can't be undone</p>
      <div class="btn-group col-lg-4">
        <button type="button"
          class="btn btn-danger"
          data-ng-click="removeTest(test)">Yes
        </button>
        <button type="button"
          class="btn btn-primary"
          data-ng-click="toggleDelete()">
          No
        </button>
      </div>
      <div class="clearfix"></div>
    </div>

    <h4>Directions:</h4>
    <p>{{test.testDirections}}</p>
    <p>{{test.goal}}
    <h4>Questions: </h4>
    <p data-ng-if="!test.questions.length">You have no questions, please add some</p>
    <ul data-ng-if="test.questions.length">
      <li data-ng-repeat="question in test.questions">{{question.question}}
        <ul data-ng-if="areAnswersShowing">
          <li data-ng-repeat="answer in question.answers">{{answer}}</li>
        </ul>
      </li>
    </ul>
  </section>
  <footer class="panel-footer">
    <button type="button"
      class="btn btn-primary"
      data-ng-click="editTest(test)">Edit Test</button>
    <button type="button"
      class="btn btn-danger"
      data-ng-click="toggleDelete()">
      Delete Test
    </button>

  </footer>
</section>
