<section
  data-ng-controller="standardsCtrl"
  data-ng-init="standardsInit()">
  <div class="col-lg-8 col-lg-offset-2">
    <pc-standards-list
      data-ng-if="!isStandardShowing"
      data-standards="standards"
      data-show="showStandard()"
      data-admin="true"
      data-add-standard="addStandard()">
    </pc-standards-list>
    <pc-single-standard
      data-ng-if="isStandardShowing"
      data-toggle="editStandard(standard)"
      data-hide-standard="hideStandard()"
      data-button-text="'Edit Standard'">
    </pc-single-standard>
  </div>
  <div class="clearfix"></div>

  <div class="col-lg-8 col-lg-offset-2"
    data-ng-if="standard">
    <pc-tests-list
      data-ng-if="!isTestShowing"
      data-toggle-single-test="toggleSingleTest()">
    </pc-tests-list>
    <pc-single-test
      data-ng-if="isTestShowing"
      data-is-test-showing="isTestShowing"
      data-is-test-form-showing="isTestFormShowing"
      data-toggle-single-test="toggleSingleTest()"
      data-toggle-test-form="toggleTestForm()">
    </pc-single-test>
  </div>
  <div class="col-lg-6"
    data-ng-if="standard">
    <pc-test-form
      data-ng-if="isTestFormShowing"
      data-button-text="'Create Test'"
      data-save="createTest(test)"
      data-standard="standard"
      data-toggle-single-test="toggleSingleTest()">
    </pc-test-form>
    <pc-test-form
      data-ng-if="test.editing"
      data-button-text="'Update Test'"
      data-save="saveTest(test)"
      data-cancel="cancelEdit(test)"
      data-test="test"
      data-toggle-single-test="toggleSingleTest()">
      data-standard="standard">
    </pc-test-form>
  </div>
  <div class="clearfix"></div>
</section>
