<section data-ng-controller="standardsController">
<div class="col-lg-6" data-ng-if="!formShowing" data-ng-init="getAll()">

  <div class="row">
    <h3 class="col-lg-9">List of Current Standards</h3>
    <button type="btn" class="btn btn-default col-lg-3" data-ng-click="toggleEdit()">Add Standard <span class="glyphicon glyphicon-plus"></span></button>
  </div>
  <input type="text"
    class="col-lg-8"
    placeholder="Search..."
    data-ng-model="search.$" />
  <button type="button" class="col-lg-2 col-lg-offset-2">Search</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Name</td>
        <td>Grade</td>
        <td>Code</td>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="standard in standards | filter:search | limitTo:quantity"
      data-ng-click="setDisplayedStandard(standard)">
        <td>{{standard.name}}</td>
        <td>{{standard.grade}}</td>
        <td>{{standard.code}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-6" data-ng-if="formShowing">
  <pc-standard-form
    data-save="createNewStandard(standard)"
    data-toggle-edit="toggleEdit()"
    data-button-text="'Create Standard'"
    data-ng-if="!standard.editing && formShowing">
  </pc-standard-form>
  <pc-standard-form
    data-save="saveStandard(standard)"
    data-ng-if="standard.editing && formShowing"
    data-standard="standard"
    data-toggle-edit="toggleEdit(standard)"
    data-button-text="'Update Standard'">
  </pc-standard-form>
</div>

  <div class="col-lg-6">
    <div data-ng-repeat="standard in displayedStandard">
      <h3>
        {{standard.name}}
      </h3>
      <p>
        {{standard.description}}
      </p>
      <ul>
        <li data-ng-repeat="test in tests | filter: {standardId: standard._id}">{{test.testName}}</li>
      </ul>
      <button type="button"
        class="btn btn-default"
        data-ng-if="!standard.editing"
        data-ng-click="toggleEdit(standard)">Edit Standard
      </button>
      <button type="button"
        class="btn btn-default"
        data-ng-click="removeStandard(standard)">Delete Standard
      </button>
      <button type="button"
        class="btn btn-default">Add A Test
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-lg-6">
    <h3>A placeholder for text right now</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit id ligula nec tempus. Vestibulum lacus neque, ultricies vel dolor ut, tincidunt gravida nibh. Donec et euismod purus, id laoreet sem. Quisque sed elit id eros semper eleifend ut nec lacus. Nulla imperdiet consectetur tellus, non faucibus leo interdum vel. Ut et ipsum bibendum, rutrum nulla mollis, sollicitudin lorem. Aenean eu risus eu ante ornare sagittis. Nam dictum metus felis, vitae suscipit arcu mollis sit amet. Nunc ante metus, condimentum vitae semper vitae, gravida quis turpis. Nunc vel tincidunt purus, non tincidunt tortor. Phasellus volutpat gravida libero, at luctus nisl finibus sed. Cras sed nibh placerat, faucibus dolor nec, mattis massa. </p>
  </div>
  <div class="col-lg-6">
    <pc-test-form>
    </pc-test-form>
  </div>
  <div class="clearfix"></div>
</section>
