<form name="standardForm"
  data-ng-submit="save({standard: standard})"
  data-ng-init="showGrades()">
  <legend>Standard Information</legend>
  <div class="form-group">
    <label for="name">What is the name of the standard?</label>
    <input type="text"
      class="form-control"
      name="name" id="name"
      data-ng-model="standard.name" />
  </div>
  <div class="form-group">
    <label for="grade">What grade is this standard for?</label>
    <select class="form-control"
      name="grade" id="grade"
      data-ng-model="standard.grade"
      data-ng-change="changeGrade(standard.grade)">
      <option value="{{grade}}"
        data-ng-repeat="grade in grades">
        {{grade.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="code">What is the standard code?</label>
    <input type="text"
      class="form-control"
      name="code" id="code"
      data-ng-model="standard.code" />
  </div>
  <div class="form-group">
    <label for="domain">What is the domain of the standard?</label>
    <select class="form-control"
      name="domain" id="domain"
      data-ng-model="domain"
      data-ng-change="showDomain()">
      <option value="{{thisDomain.name}}"
        data-ng-repeat="thisDomain in thisGrade.domains">{{thisDomain}}</option>
      </select>
  </div>
  <div class="form-group">
    <label for="language">What is the language of the standard?</label>
    <textarea class="form-control"
      name="language"
      id="language"
      data-ng-model="standard.language"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">{{buttonText}}</button>
    <button type="button" class="btn btn-default" data-ng-click="toggle({standard: standard})">Cancel</button>
  </div>
</form>
