<section class="panel panel-primary">
  <header class="panel-heading">
    <h4>{{test.testName}}</h4>
  </header>
  <form class="panel-body"
    data-ng-submit="save({test: test})"></form>
    <div class="form-group">
      <label for="testQuestion">Directions for Test:</label>
      <input type="text"
        class="form-control"
        name="testQuestion"
        id="testQuestion"
        data-ng-model="test.testQuestion">
    </div>
    <div class="form-group">
      <button type="submit"
        class="btn btn-primary"
        data-ng-click="addQuestion()">
        {{buttonText}}
      </button>
    </div>

  </form>
</section>
