  <form
  data-ng-submit="save(test)"
  data-ng-init="setGoal(test)">
  <header class="modal-header">
    <h3>{{test.testName || 'New Test'}} </h3>
  </header>
  <div class="modal-body">
    <div class="form-group">
      <label for="testDirections">Directions for Test:</label>
      <input type="text"
        class="form-control" required="required"
        name="testDirections" id="testDirections"
        placeholder="Test Directions"
        data-ng-model="test.testDirections">
    </div>
    <div class="form-group">
      <label for="testGoal">Choose a goal for this test: </label>
      <select name="testGoal" id="testGoal"
        class="form-control" required="required"
        data-ng-change="test.goalId = test._goal"
        data-ng-model="test._goal"
        data-ng-options="goal._id as goal.description for goal in standard.goals">
      </select>
    </div>
    <div>
      <ul>
        <p data-ng-if="!test.questions.length">You have no questions, feel free to add some.</p>
        <li data-ng-repeat="question in test.questions"
          data-ng-click="editQuestion(question)">{{question.question}}</li>
      </ul>
    </div>
  </div>
  <footer class="modal-footer">
    <button type="submit"
      class="btn btn-primary">
      {{params.buttonText}}
    </button>
    <button type="button"
      class="btn btn-danger"
      data-ng-click="cancel(test)">
      Cancel
    </button>
  </footer>
</form>
