<section class="panel panel-primary">
  <header class="panel-heading">
    <h3 class="col-lg-6">List of Tests</h3>
    <div class="clearfix"></div>
  </header>
  <section class="panel-body">
    <ul>
      <li data-ng-repeat="test in tests | filter: {standardId: standard._id}"
        data-ng-click="show({test: test})">{{test.testName}}</li>
    </ul>
  </section>
  <footer class="panel-footer">
    <button class="btn btn-primary">
      Add A Test <span class="glyphicon glyphicon-plus"></span>
    </button>
  </footer>
</section>
