<div>
  <header class="modal-header">
    <h2>Reset Your Password</h2>
  </header>
  <div class="modal-body">
    <form name="resetPasswordForm" data-ng-submit="submitForm()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
          class="form-control"
          name="email"
          id="email"
          data-ng-model="resetPassword.email">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
