<div>
  <h2>Please Reset Your Password</h2>
  <p>Type in your email, a new password` and confirm it to reset your password.</p>
  <form data-ng-submit="resetPassword(reset)"
    name="resetPasswordForm">
    <div class="form-group">
      <label for="email">Your Email</label>
      <input type="text"
        id="email"
        name="email"
        class="form-control"
        placeholder="Email"
        data-ng-model="reset.email"
      />
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password"
        data-ng-class="{ 'has-error': resetPasswordForm.newPassword.$invalid, 'has-success': resetPasswordForm.newPassword.$valid}"
        id="newPassword"
        name="newPassword"
        class="form-control"
        placeholder="Password"
        data-ng-model="reset.newPassword"
        data-compare-password="{{reset.confirmPassword}}"
        data-valid-pwd />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password"
        data-ng-class="{ 'has-error': resetPasswordForm.confirmPassword.$invalid, 'has-success': resetPasswordForm.confirmPassword.$valid}"
        id="confirmPassword"
        name="confirmPassword"
        class="form-control"
        placeholder="Confirm Password"
        data-ng-model="reset.confirmPassword"
        data-compare-password="{{reset.newPassword}}" />
    </div>
    <div>
      <span>{{pwdValidationText}}</span>
      <ul>
        <li data-ng-repeat="warning in pwdValidationWarnings" data-ng-class="warning.className">{{warning.warning}}</li>
      </ul>
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
