<article>
  <h2>How It Works</h2>
  <ul>
    <li>Prog Check contains sets of 5 or 10 multiple choice questions online</li>
    <li>Teachers will create student accounts, search for and assign IEP math goals to individual students, and choose between 5 or 10 question tests</li>
    <li>Teachers can add up to 4 different goals per student</li>
    <li>Tests are directly related to the assigned goal, as well as tied to a Common Core State Standard</li>
    <li>Students will continually have ready-to-take tests catered to each of their goals, which teachers can amend at any time</li>
    <li>Students will log in using their username and student PIN, then take their test(s) online</li>
    <li>Prog Check randomizes the questiosn on each test so students can take a new test as needed</li>
    <li>Teachers can log in at anytime to check the progress of each student</li>
    <li>Prog Check will automatically compile students progress in a phrase that can be used in the Present Levels section of their IEP, as well as in Progress Reports *</li>
  </ul>
  <sup>* Coming Soon</sup>

</article>
