<section>
  <h2>What is Prog Check?</h2>
  <p>
    ProgCheck is a simple and efficient way for special education math teachers to monitor and check the progress of their students – based on each student’s Individualized Education Plan (IEP) math goals.
  </p>
  <h2>Our Mission</h2>
  <p>
    Our mission is to provide an easy-to-use tool which consistently and accurately monitors goal progress for students with IEP math goals, therefore simplifying the data-collecting and maintaining tasks for special education math teachers.
  </p>
</section>
