<form class="panel panel-primary"
  data-ng-submit="authSubmit(user)">
  <header class="panel-heading">
    <h3>Sign Up for Prog-Check</h3>
  </header>
  <div class="panel-body">
    <fieldset>
      <legend>Your Information</legend>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text"
          class="form-control" placeholder="First Name"
          id="firstName" name="firstName"
          data-ng-model="user.firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text"
          class="form-control" placeholder="Last Name"
          id="lastName" name="lastName"
          data-ng-model="user.lastName" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
          id="email" name="email"
          class="form-control" placeholder="Email"
          data-ng-model="user.email" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
          class="form-control" placeholder="Password"
          id="password" name="password"
          data-ng-model="user.password" />
      </div>

      <div class="form-group">
        <label for="passwordConfirmation">Confirm Your Password</label>
        <input type="password"
          class="form-control" placeholder="Password Confirmation"
          id="passwordConfirmation" name="passwordConfirmation"
          data-ng-model="user.passwordConfirmation" />
      </div>

    </fieldset>
    <fieldset>
      <legend>Your School Information</legend>
      <div class="form-group">
        <label for="schoolName">School Name</label>
        <input type="text"
          class="form-control" placeholder="School Name"
          id="schoolName" name="schoolName"
          data-ng-model="user.school.schoolName">
      </div>
      <div class="form-group">
        <label for="schoolState">School State</label>
        <select class="form-control"
          id="schoolState"
          data-ng-model="user.school.schoolState"
          data-ng-options="state.abbreviation as state.name for state in states">
          <option value="" disabled selected="selected">School State</option>
        </select>
      </div>
      <div class="form-group">
        <label for="schoolDistrict">School District</label>
        <input type="text"
          class="form-control" placeHolder="School District"
          id="schoolDistrict" name="schoolDistrict"
          data-ng-model="user.school.schoolDistrict" />
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" required> I agree to the <a data-ng-click="termsModal()">terms and conditions</a>
        </label>
      </div>
    </fieldset>
  </div>
  <footer class="panel-footer">
    <div class="form-group">
      <button type="submit"
        class="btn btn-primary">
        Sign Up
      </button>
      <span>Already A Member? <a data-ng-click="changeView('sign-in')">Sign In</a></span>
    </div>
  </footer>


</form>
