<section data-ng-init="initUser()">
  <form
    class="form-horizontal"
    data-ng-submit="authSubmit(user)">
    <fieldset>
      <legend>Sign In</legend>
      <div class="form-group">
        <label
          for="user-type"
          class="col-lg-2 col-lg-offset-2 control-label">
          User
        </label>
        <div class="col-lg-6">
          <select class="form-control"
            data-ng-change="userChange(user)"
            data-ng-model="user.type">
            <option value="student" selected="selected">
              Student
            </option>
            <option value="teacher">
              Teacher
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label
          for="email"
          class="col-lg-2 col-lg-offset-2 control-label">
          {{user.usernameText}}
        </label>
        <div class="col-lg-6">
          <input
            data-ng-type="user.usernameType"
            class="form-control"
            id="email"
            name="email"
            data-ng-placeholder="user.usernameText"
            data-ng-model="user.email" />
        </div>
      </div>

      <div class="form-group">
        <label
          for="password"
          class="col-lg-2 col-lg-offset-2 control-label">
          {{user.passwordText}}
        </label>
        <div class="col-lg-6">
        <input
          id="password"
          class="form-control"
          type="password"
          name="password"
          data-ng-placeholder="user.passwordText"
          data-ng-model="user.password" />

        </div>
      </div>
      <div>
        <uib-alert type="danger" close="closeAlert()" data-ng-if="errorMessage">{{errorMessage}}</uib-alert>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-lg btn-primary col-lg-2 col-lg-offset-4">
          Sign-In
        </button>
        <button
          type="button"
          class="btn btn-lg btn-success col-lg-2 col-lg-offset-2"
          data-ng-click="changeView('sign-up')">
          Sign-Up
        </button>
        <div class="clearfix"></div>
        <span class="col-lg-2 col-lg-offset-4"
          data-ng-if="user.type === 'teacher'">
          <a data-ng-click="resetPassword()">I forgot my password</a>
        </span>
      </div>

    </fieldset>
  </form>
</section>
