**/node_modules/
**/db/
**/build/
**/crt/
**/report/
**/.vscode/


./config.js
npm-debug.log
__tests__/frontend/bundle.js
karma.conf.js
prog-check.sublime-project
prog-check.sublime-workspace
**/.vscode/
**/report/
