**/node_modules/
**/db/
**/build/
karma.conf.js
**/crt/
./config.js
npm-debug.log
**/dist/
**/report/
**/.vscode/
__tests__/frontend/bundle.js

prog-check.sublime-project
prog-check.sublime-workspace
**/report/
**/.vscode/
