
.container {
  margin-left:auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Styling for the user tabs */
.auth-view {
  width: 50%;
  margin: 0 auto;
}


/**==================
 * Fraction Styling
 ====================*/

div.fraction {
  display:inline-block;
  padding:5px 10px;
}
span.frac-whole {
  font-size:1.5em;
}

span.frac {
  display:inline-block;
  font-size:75%;
  text-align:center;
}

span.frac > sup {
  display:block;
  border-bottom: 1px solid;
  font:inherit;
}

span.frac > span {
  display:none;
}

span.frac > sub {
  display:block;
  font:inherit;
}

