.logo {
  text-indent: -9999px;
  background-image: url('../img/assets/transparent-bg-logo.png');
  background-size:contain;
  background-repeat:no-repeat;
}

#header-logo {
  height:125px;
}

.container {
  margin-left:auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Styling for the user tabs */
.auth-view {
  width: 50%;
  margin: 0 auto;
}


/**==================
 * Fraction Styling
 ====================*/

div.fraction {
  display:inline-block;
  padding:5px 10px;
}
span.frac-whole {
  font-size:1.5em;
}

span.frac {
  display:inline-block;
  font-size:75%;
  text-align:center;
}

span.frac > sup {
  display:block;
  border-bottom: 1px solid;
  font:inherit;
}

span.frac > span {
  display:none;
}

span.frac > sub {
  display:block;
  font:inherit;
}

/**
 * Footer Styling
 */

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:80px;
  bacgkround-color:#sesese; !important
}
