<div>
  <span data-ng-bind-html="question.question | to_trusted">{{question.question}} {{question.submitted}}</span>
  <span data-ng-class="question.icon"></span>
  <ul data-ng-if="question.answersShowing">
    <li>Their Answer:
      <span
        data-ng-bind-html="question.submitted | to_trusted">
        {{question.submitted}}
      </span>
    </li>
    <li
      data-ng-repeat="answer in question.answers"
      data-ng-bind-html="answer | to_trusted">
      {{answer}}
    </li>
    <li>
      Result:
      <span
        data-ng-class="question.color">
        <strong>{{question.result}}</strong>
      </span>
    </li>
  </ul>
</div>
