<div
  data-ng-init="pr.init()">
  <h4>Progress Report for {{pr.student.firstName + ' ' + pr.student.lastName}}</h4>
  <p>
    On {{results.testsTaken}} progress checks based on <strong>{{goal.name}}</strong>, {{pr.student.firstName}} {{pr.student.lastName}} has been averaging {{(results.averageCorrect).toFixed(1)}} out of 10* problems correct, or {{(results.correct / results.possible * 100).toFixed(1) + '%'}}, from {{results.earliestTest | date: 'MMM d, yyyy'}} to {{results.latestTest | date: 'MMM d, yyyy'}}. On the most recent progress check, taken {{results.latestTest | date: 'MMM d, yyyy'}}, {{pr.student.firstName}} {{pr.student.lastName}} correctly answered {{results.recent.correctAnswers}} out of {{results.recent.questions.length}} problems, or {{(results.recent.correctAnswers / results.recent.questions.length * 100).toFixed(1) + '%'}}.
  </p>
  <sup>* As your student may have taken tests with five or ten questions, all results have been averaged out to assume the tests had ten questions. That means if your student has taken tests with five questions, halve their score to see what they are actually averaging per test.</sup>
</div>
