<main class="panel panel-primary"
  data-ng-init="ss.init()">
  <header class="panel-heading">
    <h3 class="col-lg-9">Information for {{ss.student.firstName}} {{ss.student.lastName}}</h3>
    <button type="button" class="btn btn-default"
      data-ng-click="ss.goBack()">
      Go Back
    </button>
    <div class="clearfix"></div>
  </header>
  <div class="panel-body">
    <h4>Default Number of Questions Per Test: {{ss.student.numberOfQuestions}}</h4>
    <h4 data-ng-if="ss.student.goalPriority">Sort Goal Priority By: {{ss.student.goalPriority}}</h4>
    <pc-data-loading data-ng-if="!ss.dataLoaded">
    </pc-data-loading>
    <pc-student-goals-list
      student-goals="ss.student.goals">
    </pc-student-goals-list>
  </div>
  <footer class="panel-footer">
    <button type="button" class="btn btn-primary"
      data-ng-click="ss.editStudentModal(student)">
      Edit/Delete Student
    </button>
    <button type="button" class="btn btn-info"
      data-ng-click="ss.openGoalForm()">
      Add Goals For {{ss.student.firstName}}
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </footer>
</main>
