<section
  data-ng-init="sl.init()">
  <header class="modal-header">
    <h3 class="col-lg-9">List of Current Standards</h3>
    <div class="clearfix"></div>
  </header>
  <div class="modal-body">
    <p class="text-center" ng-hide="sl.dataLoaded">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
    </p>
    <div class="input-group col-md-12">
      <input type="text"
        class="form-control input-lg"
        placeholder="Search..."
        data-ng-model="search.$" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary btn-lg">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td>Grade</td>
          <td>Code</td>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="standard in sl.standards | filter:search"
          data-ng-click="sl.select(standard)">
          <td>{{standard.name}}</td>
          <td>{{standard.shortGrade}}</td>
          <td>{{standard.code}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer class="modal-footer">
    <button type="button" class="btn btn-primary"
      data-ng-click="sl.newStandardModal()">
      Add Standard <span class="glyphicon glyphicon-plus"></span>
    </button>
  </footer>
</section>
