<form name="studentForm"
  data-ng-submit="saveStudent(student)"
  data-ng-init="getStudent()">
  <header class="modal-header">
    <h3>Add A Student</h3>
  </header>
  <div class="modal-body">
    <div class="alert alert-danger"
      data-ng-if="isDeleteShown">
      <p class="col-lg-8">Are you sure? Deleting can't be undone. You will lose all data for this student.</p>
      <div class="btn-group col-lg-4">
        <button type="button"
          class="btn btn-danger"
          data-ng-click="deleteStudent(student)">
          Yes
        </button>
        <button type="button"
          class="btn btn-primary"
          data-ng-click="toggleDelete()">
          No
        </button>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control"
        id="firstName" name="firstName"
        placeholder="Jane..." required="true"
        data-ng-model="student.firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control"
        placeholder="Doe..." required="true"
        id="lastName" name="lastName"
        data-ng-model="student.lastName">
    </div>
    <div class="form-inline">
      <div class="form-group">
        <label for="pin">PIN</label>
        <input type="text" minlength=4 maxlength=4
          class="form-control"
          placeholder="PIN" required="true"
          id="pin" name="pin"
          data-ng-model="student.basic.pin">

      </div>
    </div>
    <div class="form-group">
      <label for="numberOfQuestions">How many questions would you like to have them answer per test?</label>
      <select name="numberOfQuestions" id="numberOfQuestions"
        class="form-control col-lg-6"
        required="required"
        data-ng-options="number for number in questionOptions"
        data-ng-model="student.numberOfQuestions">
      </select>
    </div>


  </div>
  <footer class="modal-footer">
    <button type="submit"
      class="btn btn-primary">
      {{params.buttonText}}
    </button>
    <button type="button" class="btn btn-danger"
      data-ng-click="toggleDelete()"
      data-ng-if="params.formType === 'editing'">
      Delete Student
    </button>
    <button type="button"
      class="btn btn-info"
      data-ng-click="cancel()">
      Cancel
    </button>
  </footer>
</form>
