<section
  data-ng-init="init()">
  <header class="modal-header">
    <h3 class="col-lg-9">
      {{standard.name}}
    </h3>
    <button type="button"
      class="btn btn-default col-lg-3"
      data-ng-click="goBack()">Go Back</button>
    <div class="clearfix"></div>
  </header>
  <div class="modal-body">
    <h3>Standard</h3>
    <p>
      {{standard.language}}
    </p>
    <h3>Goals</h3>
    <p data-ng-if="!standard.goals || !standard.goals.length">
      There are no goals for this standard. Please send a request to the administrator.
    </p>
    <ul>
      <li
        data-ng-repeat="goal in standard.goals"
        data-ng-click="showDescription(goal)">Name
          Name - {{goal.name || goal.description}}
        <p data-ng-if="goal.descriptionShowing && goal.name">
          Description - {{goal.description}}
        </p>
        <p
          data-ng-if="goal.enableExample"
          data-ng-bind-html="goal.exampleQuestion | to_trusted">
          Example - {{goal.exampleQuestion}}
          <p
            data-ng-if="!goal.exampleQuestion && goal.enableExample">
            Sorry, there was no example question. Please ask the Administrator to add one.
          </p>

        </p>

        <div>
          <button class="btn btn-primary text-right" type="button"
            data-ng-click="addGoal(goal)">
            Add Goal
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button class="btn btn-info text-right" type="button"
            data-ng-click="showExampleQuestion(goal)">
            View Example Question
          </button>

        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</section>
