<section
  data-ng-init="getStandard()">
  <header class="modal-header">
    <h3 class="col-lg-9">
      {{standard.name}}
    </h3>
    <button type="button"
      class="btn btn-default col-lg-3"
      data-ng-click="goBack()">Go Back</button>
    <div class="clearfix"></div>
  </header>
  <div class="modal-body">
    <div class="alert alert-danger"
      data-ng-if="isAlertShown">
      <p class="col-lg-8">Are you sure? Deleting can't be undone</p>
      <div class="btn-group col-lg-4">
        <button type="button"
          class="btn btn-danger"
          data-ng-click="deleteStandard(standard)">Yes
        </button>
        <button type="button"
          class="btn btn-primary"
          data-ng-click="toggleAlert()">
          No
        </button>
      </div>
      <div class="clearfix"></div>
    </div>

    <h3>Standard</h3>
    <p>
      {{standard.language}}
    </p>
    <h3>Goals</h3>
    <ul>
      <li data-ng-repeat="goal in standard.goals">
        {{goal.description}}
        <div>
          <button class="btn btn-primary text-right" type="button"
            data-ng-click="addGoal(goal)">
            Add Goal
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button class="btn btn-info text-right" type="button"
            data-ng-click="showExampleQuestion(goal)">
            View Example Question
          </button>

        </div>
        <p data-ng-if="goal.enableExample" data-ng-bind-html="trustAsHtml(goal.sampleQuestion)">Example: {{goal.sampleQuestion}}</p>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</section>
