<div>
  <header class="modal-header">
    <h2 class="col-lg-10">ProgCheck User Agreement</h2>
    <button type="button" class="col-lg-2 btn btn-primary" data-ng-click="close()">
      Close
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <div class="clearfix"></div>
  </header>
  <div class="modal-body">
    <p>
      Thank you for participating in our Beta of the ProgCheck platform. We are excited to have you on board and look forward to your feedback in order to help us create the best system possible! Below is our user agreement, and by proceeding with the Beta you are expressing your consent to the policies and terms contained below. If you have any questions on any of the items please feel free to contact us.
      <br />
      Thanks again, and we look forward to partnering with you in this coming year!
    </p>
    <h3>Privacy Policy</h3>
    <ul>
      <li>ProgCheck uses security to protect users.  Your personal information will be stored in a secure server.  Students' personal information will also be stored in a secure server.  ProgCheck will not redistribute personal information to any third party.</li>
      <li>Data for students will be terminated after 3 months of inactivity or deletion by the teacher</li>
      <li>Students' names will only be viewable by you, the teacher.</li>
      <li>ProgCheck reserves the right to review data—excluding students’ names—for the purpose of developing software and features that will benefit the platform and the end-user.  This detailed data will not be shared outside of the company, however ProgCheck reserves the right to share anonymized data with developers and prospective clients.</li>
    </ul>

    <h3>I understand: </h3>
    <ul>
      <li>ProgCheck 2015-2016 is a free Beta version.  I will not be charged for any use of ProgCheck from 8/25/2015 through 8/1/2016.</li>
      <li>If I violate any portion of this User Agreement, I will be subject to termination of the use of ProgCheck, and will be held accountable in a court of law. </li>
    </ul>

    <h3>As a user of ProgCheck Beta Release, I agree not to:</h3>
    <ul>
      <li>Reproduce any material* from ProgCheck.com
      <ul>
        <li>*Using the Individualized Education Plan (IEP) goal language, as well as Present Levels in IEP's is allowable.</li>
      </ul>
      </li>
      <li>Use any source code associated with ProgCheck</li>
      <li>Advertise ProgCheck for any form of personal monetary gain.</li>
      <li>Use more than 1 account on ProgCheck</li>
      <li>Reproduce, recreate or redistribute the concept** behind ProgCheck for the purpose of yours or others personal gain.
      <ul>
        <li>**The concept being: A website that allows users (teachers) to create individual student accounts, search for specific IEP goals found in a database on the website, and add those goals which contain questions that will be generated into tests for students to take, for the purpose of monitoring progress of special education students' IEP math or other educational goals.
</li>
      </ul></li>
    </ul>
  </div>
</div>
