<section class="panel panel-primary">
  <header class="panel-heading">
    <h3>
      {{standard.name}}
    </h3>
    <button type="button"
      class="btn btn-default"
      data-ng-click="goBack()">Go Back</button>
  </header>
  <div class="panel-body">
    <p>
      {{standard.description}}
    </p>
  </div>
  <div class="panel-footer">
    <button type="button"
      class="btn btn-primary"
      data-ng-click="edit({standard: standard})">Edit Standard
    </button>
    <button type="button"
      class="btn btn-danger"
      data-ng-click="removeStandard(standard)">Delete Standard
    </button>
  </div>
</section>
