<section class="panel panel-primary"
  data-ng-init="getAll()">
  <header class="panel-heading">
    <h3 class="col-lg-9">List of Current Standards</h3>
    <button type="btn" class="btn btn-default col-lg-3" data-ng-click="toggleEdit()">Add Standard <span class="glyphicon glyphicon-plus"></span></button>
    <div class="clearfix"></div>
  </header>
  <div class="panel-body">
    <input type="text"
      class="col-lg-8"
      placeholder="Search..."
      data-ng-model="search.$" />
    <button type="button" class="col-lg-2 col-lg-offset-2">Search</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td>Grade</td>
          <td>Code</td>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="standard in standards | filter:search | limitTo: 5"
        data-ng-click="show({standard: standard})">
          <td>{{standard.name}}</td>
          <td>{{standard.grade}}</td>
          <td>{{standard.code}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
