<section class="panel panel-primary"
  data-ng-init="getAll()">
  <header class="panel-heading">
    <h3 class="col-lg-9">List of Current Standards</h3>
    <button type="button"
      class="btn btn-default col-lg-3"
      data-ng-click="addStandard()">
      Add Standard <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="clearfix"></div>
  </header>
  <div class="panel-body">
    <div class="input-group col-md-12">
      <input type="text"
        class="form-control input-lg"
        placeholder="Search..."
        data-ng-model="search.$" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary btn-lg">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
    </div>
    <table class="table table-striped"
      data-ng-init="limit = 5">
      <thead>
        <tr>
          <td>Name</td>
          <td>Grade</td>
          <td>Code</td>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="standard in standards | filter:search"
        data-ng-click="show({standard: standard})">
          <td>{{standard.name}}</td>
          <td>{{standard.shortGrade}}</td>
          <td>{{standard.code}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
