<main>
  <h2>Congratulations! You got {{attempt.correctAnswers}} out of {{attempt.questions.length}}</h2>
  <accordion data-class-others="oneAtATime">
    <accordion-group data-ng-repeat="question in attempt.questions">
      <accordion-heading>
        <span data-ng-bind-html="question.question | to_trusted">{{question.question}}</span> <span class="pull-right">{{question.result}}</span>
      </accordion-heading>
      <h3>{{responseText}}</h3>
      <p>The answers were: </p>

      <ul>

        <li data-ng-repeat="answer in question.answers"
          data-ng-bind-html="answer | to_trusted">
          {{answer}}
        </li>

      </ul>
      <p>You answered: <span data-ng-bind-html="question.submitted | to_trusted">{{question.submitted}}</span></p>
      <p>The correct answer was: <span data-ng-bind-html="question.correct | to_trusted">{{question.correct}}</span></p>
    </accordion-group>
  </accordion>
</main>
