<main class="panel panel-primary">
  <header class="panel-heading">
    <h2 class="col-lg-8">Congratulations! You got {{attempt.correctAnswers}} out of {{attempt.questions.length}}</h2>
    <button class="btn btn-default col-lg-offset-2 col-lg-2"
      data-ng-click="backToTests()">Back To Tests</button>
    <div class="clearfix"></div>
  </header>
  <div class="panel-body">
    <uib-accordion data-class-others="oneAtATime">
      <uib-accordion-group data-ng-repeat="question in attempt.questions">
        <uib-accordion-heading>
          <span data-ng-bind-html="question.question | to_trusted">{{question.question}}</span> <span class="pull-right">{{question.result}}</span>
        </uib-accordion-heading>
        <h3>{{responseText}}</h3>
        <p>The answers were: </p>

        <ul>

          <li data-ng-repeat="answer in question.answers"
            data-ng-bind-html="answer | to_trusted">
            {{answer}}
          </li>

        </ul>
        <p>You answered: <span data-ng-bind-html="question.submitted | to_trusted">{{question.submitted}}</span></p>
        <p>The correct answer was: <span data-ng-bind-html="question.correct | to_trusted">{{question.correct}}</span></p>
      </uib-accordion-group>
    </uib-accordion>
  </div>

</main>
