<main>
  <header class="panel-heading">
    <h3>Instructions: </h3>
    <p>{{attempt.directions}}</p>
    <h3>Progress</h3>
    <progress><bar data-ng-repeat="question in attempt.questions" value="max" type="{{question.type}}"><span style="color:white; white-space:no-wrap;">{{$index + 1}}</span></bar></progress>

  </header>
  <pc-question data-question="question"
    data-select-answer="selectAnswer(answer)"></pc-question>
  <footer class="panel-footer">
    <button class="btn btn-lg btn-primary" data-ng-if="nope"
      data-ng-click="previousQuestion()">
      <span class="glyphicon glyphicon-chevron-left"></span> Previous
    </button>
    <button class="btn btn-lg btn-primary pull-right"
      data-ng-click="nextQuestion()">
      {{nextText}} <span class="glyphicon glyphicon-chevron-right" data-ng-if="current !== max"></span>
    </button>
  </footer>
</main>
