<main class="panel panel-primary"
  data-ng-init="getStudent()">
  <header class="panel-heading">
    <h3 class="col-lg-9">Information for {{student.firstName}} {{student.lastName}}</h3>
    <button type="button" class="btn btn-default"
      data-ng-click="goBack()">
      Go Back
    </button>
    <div class="clearfix"></div>
  </header>
  <div class="panel-body">
    <div class="alert alert-danger"
      data-ng-if="isDeleteShown">
      <p class="col-lg-8">Are you sure? Deleting can't be undone. You will lose all data for this student.</p>
      <div class="btn-group col-lg-4">
        <button type="button"
          class="btn btn-danger"
          data-ng-click="deleteStudent(student)">
          Yes
        </button>
        <button type="button"
          class="btn btn-primary"
          data-ng-click="toggleDelete()">
          No
        </button>
      </div>
      <div class="clearfix"></div>
    </div>

    <h4>Goals</h4>
    <ul class="list-group">
      <li class="list-group-item"
        data-ng-repeat="goal in student.goals"
        data-ng-click="showButtons(goal)">
        <span class="col-lg-4">{{goal.description}}</span>
        <button class="btn btn-danger"
          data-ng-if="goal.buttonsShowing"
          data-ng-click="removeGoal(goal)">
          Remove Goal
        </button>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
  <footer class="panel-footer">
    <button type="button" class="btn btn-primary"
      data-ng-click="openGoalForm()">
      Add Goals For {{student.firstName}}
    </button>
    <button type="button" class="btn btn-danger"
      data-ng-click="toggleDelete()">
      Delete Student
    </button>
  </footer>
</main>
