<main class="panel panel-primary"
  data-ng-init="init()">
  <header class="panel-heading">
    <h3 class="col-lg-9">Information for {{student.firstName}} {{student.lastName}}</h3>
    <button type="button" class="btn btn-default"
      data-ng-click="goBack()">
      Go Back
    </button>
    <div class="clearfix"></div>
  </header>
  <div class="panel-body">
    <h4>Number of Questions Per Test: {{student.numberOfQuestions}}</h4>
    <div class="col-lg-6">
      <h4>Recent Tests</h4>
      <p data-ng-if="!attempts.length">{{student.firstName}} has not taken any tests yet.</p>
      <ul>
        <li data-ng-repeat="attempt in attempts | limitTo: 6"
          data-ng-click="showAttempt(attempt)">
          {{attempt.correctAnswers}}/{{attempt.questions.length}} - {{attempt.dateTaken | date}}
          <ul data-ng-if="attempt.questionsShowing">
            <li data-ng-repeat="question in attempt.questions"
              data-ng-click="showAnswers(question)">
              {{question.question}}
              <span data-ng-class="question.icon"></span>
              <ul data-ng-if="question.answersShowing">
                <li>Their Answer: {{question.submitted}}</li>
                <li data-ng-repeat="answer in question.answers">{{answer}}</li>
                <li>Result: <span data-ng-class="question.color"><strong>{{question.result}}</strong></span></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h4>Goals</h4>
      <p data-ng-if="!student.goals.length">You have no goals for your student. Feel free to add some below.</p>
      <ul class="list-group">
        <li class="list-group-item"
          data-ng-repeat="goal in student.goals"
          data-ng-click="showButtons(goal)">
          <span>{{goal.name || goal.description}}</span>
          <button class="btn btn-danger pull-right"
            data-ng-if="goal.buttonsShowing"
            data-ng-click="removeGoal(goal)">
            Remove Goal
          </button>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

  </div>
  <footer class="panel-footer">
    <button type="button" class="btn btn-primary"
      data-ng-click="editStudentModal(student)">
      Edit/Delete Student
    </button>
    <button type="button" class="btn btn-info"
      data-ng-click="openGoalForm()">
      Add Goals For {{student.firstName}}
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </footer>
</main>
