<main data-ng-init="getStudents()">
  <section class="panel panel-primary">
    <header class="panel-heading">
      <h3>List of Your Students</h3>
      <div class="clearfix"></div>
    </header>
    <div class="panel-body">
      <div class="input-group col-md-12">
        <input type="text"
          class="form-control input-lg"
          placeholder="Search..."
          data-ng-model="search.$" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary btn-lg">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Username</td>
            <td>Grade</td>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="student in students"
            data-ng-click="showStudent(student)">
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.username}}</td>
            <td>{{student.pin}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <button class="btn btn-primary"
        data-ng-click="open('lg')">
        Add Student <span class="glyphicon glyphicon-plus"></span>
      </button>
    </footer>
  </section>

</main>
